.container #logo {
    width: 60%;
}
@media (max-width: 700px) {
    .container #logo {
        width: 70%;
    }
    .container-darkmode #darkmode {
        width: 20%
    }
}

.form {
    padding-top: 40px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 20px;
}

.level {
    text-align: center
}

#level-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold
}

#name {
    text-align: center
}

.records {
    padding-top: 40px;
    text-align: center
}

#logo {
    float: right;
}

.container-darkmode {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#darkmode {
    width: 10%
}

.modal-container .modal .modal-dialog .modal-content .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center
}

.modal-container .modal .modal-dialog .modal-content .modal-footer h6 {
    margin-bottom: 16px;
}

/* ===================================================================================================================== */

.container-game .info {
    margin: 0 auto;
    width: 180px;
}

.container-game .info .info-item {
    border: 3px solid #000;
    padding: 0;
}

.container-game .info .info-item:first-child {
    border-right: 0;
}

.container-game .info .info-item p:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

.container-game .info .info-item p {
    margin-bottom: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px
}

.container-game .container-bug img {
    width: 80px
}