.container #logo {
    width: 60%;
}
@media (max-width: 700px) {
    .container #logo {
        width: 70%;
    }
    .container-darkmode #darkmode {
        width: 20%
    }
}

.form {
    padding-top: 40px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 20px;
}

.level {
    text-align: center
}

#level-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold
}

#name {
    text-align: center
}

.records {
    padding-top: 40px;
    text-align: center
}

#logo {
    float: right;
}

.container-darkmode {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#darkmode {
    width: 10%
}